<div class="container">
  <div class="row">
    <h4>
      <strong>商品一覧</strong>
    </h4>
    <div class="col">
      <%= link_to '商品新規登録', new_admin_item_path, class:"btn btn-outline-dark mr-3" %>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="col-1">商品ID</th>
        <th class="col-3">商品名</th>
        <th class="col-3">税抜き価格</th>
      </tr>
    </thead>
    <tbody>
    <% @items.each do |item| %>
      <tr>
        <th class="row"><%= item.id %></th>
        <td><%= link_to item.item_name, admin_item_path(item.id) %></td>
        <td><%= item.non_taxed_price %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
