<div class="container">
  <div class="row">
    <div class="col-3">
      <h4>
        <strong>商品詳細</strong>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <%= image_tag @item.get_image %>
    </div>
  </div>
  