<div class="container">
  <div class="row">
    <div class="col-5">
      <h4>
        <strong>注文履歴詳細</strong>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <p>
        <strong>購入者</strong>
      </p>
    </div>
    <div class="col-5">
      <%= @order_detail.customer.last_name %>
    </div>
  </div>
</div>