<div class="container">
  <div class="row">
    <h4>
      <strong>商品一覧</strong>
    </h4>
  </div>
  <div class="row">
  <% @items.each do |item| %>
    <div class="row">
      <div class="col-5">
        <%= image_tag item.get_image(150, 150) %>
        <%= link_to item.item_name, item_path(item.id) %>
        <%= item.with_tax_price%>
      </div>
    </div>
  <% end %>
  </div>
  <%= paginate @items %>
</div>